$primary_color: #3563e9;
$primary_hover: #1a37a7;
$white_primary: #ffffff;
$background_gray: #f6f7f9;
$alert_red: #ff4423;
$text_black: #1a202c;
$secondary-color: #54a6ff;
$shadow: rgba(16, 50, 147, 0.32);
$secondary-text: #596780;
$span-colors: #90a3bf;
$gray: #90a3bf;
$yellow: #FBAD39;