main {
    background-color: $background_gray;
}

#payment_right_col {
    @media (max-width: 768px) {
        display: none;  
  }
}

#payment_right_col_mobile {
    display: none;
    @media (max-width: 768px) {
        display: initial;  
  }
}
