@import "../utils/variables";
@import "../utils/mixins";

.prime-btn {
    @include button;
    border: none;
    border-radius: 0.4rem;
    padding: 1rem 2rem;
    gap: 0.8rem;
    font-weight: 600;
   
}

.rent_now-btn {
    @include button;
    border: none;
    border-radius: 0.4rem;
    padding: 1rem 2rem;
    gap: 0.8rem;
    font-weight: 700;
    @include for-tablet-portrait-up{
        font-size: 12px;
        padding: .5rem 1rem;
    }
}

.bg_btn {
    @include button;
    border: none;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 1rem $shadow;
}
