@import "../utils/variables";
@import "../utils/mixins";

.billing_input {
    height: 5.6rem;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: $placeholder;
    border-style: none;
    border-radius: 1rem;
    padding: 0 1rem;
    background-color: $background_gray;
}::placeholder {
    color: $placeholder;
}:-ms-input-placeholder { 
    color: $placeholder;
}:focus {
    outline: none !important;
    border:1px solid $placeholder;
    box-shadow: 0 0 10px $shadow;
}

.payment-input {
    height: 5.6rem;
    font-size: 1.4rem;
    line-height: 2.1rem;
    padding: 0 1rem;
    color: $placeholder;
    border: none;
    border-radius: 1rem;
}

.billing_input-select {
    height: 5.6rem;
    font-size: 1.4rem;
    line-height: 2.1rem;
    color: $placeholder;
    border-style: none;
    border-radius: 1rem;
    padding: 0 1rem;
    background-color: $background_gray;
}::placeholder {
    color: $placeholder;
}:-ms-input-placeholder { 
    color: $placeholder;
}:focus {
    outline: none !important;
    border:1px solid $placeholder;
    box-shadow: 0 0 10px $shadow;
}

.payment-radio {
    width: 3.5rem;
    height: 2rem;
    color: $placeholder;
    border: 1px solid $placeholder;
    accent-color: $primary_color;   
}

.payment-chekbox {
    width: 2.4rem;
    height: 2.4rem;
    color: $placeholder;
    border: 1px solid $placeholder;
    accent-color: $primary_color;   
}